contexttimer
decord
diffusers>=0.30.1
accelerate==0.30.0
torch==2.1.2
torchvision==0.16.2
numpy==1.24.4
einops
ftfy
ipython
opencv-python-headless==4.10.0.84
imageio==2.33.1
imageio-ffmpeg==0.5.1
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
scikit-image
sentencepiece
spacy
streamlit
timm==0.6.12
tqdm
transformers==4.39.3
wheel
torchmetrics
tiktoken
jsonlines
tensorboardX
